@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Quattrocento:wght@400;700&display=swap');

/* ---------------------------------------------------------General */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------Headings */

h1, h2, h3 {
    font-family: 'Quattrocento', sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1C761E;
}

/* ---------------------------------------------------Hero-Image */

#hero-image {
    background: url('../images/hero-image/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    width: auto;
    height: 100vh;
    position: relative;
}

/* ---------------------------------------------------Navbar */

.nav-item a {
    color: #1C761E;
}