@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Quattrocento:wght@400;700&display=swap');

/* ---------------------------------------------------------General */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

div#map {min-height: 360px;}

/* -------------------------------------------------------Headings */

h1, h2, h3, h4, h5 {
    font-family: 'Quattrocento', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1C761E;
}

/* ---------------------------------------------------Hero-Image */

#hero-image {
    background: url('../images/hero-image/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    width: auto;
    height: 100vh;
    position: relative;
}

#hero-text, #hero-text h2 {
    color: rgba(227, 145, 5);
}

#hero-text, #hero-text h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}

#hero-text {
    
    font-family: 'Quattrocento', sans-serif;
    letter-spacing: 4px;
    width: 33%;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgba(28, 118, 30, .8);
    top: 30%;
    left: 15%;
    position: absolute;

    display: table;
    margin: 0px auto 0px auto;

}

    #hero-text, #hero-text h3 {
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        text-transform: none;
    }

/* ---------------------------------------------------Navbar */

.navbar-light .navbar-brand {
    color: #1C761E;
    font-size: 25px;
    font-family: 'Quattrocento', sans-serif;
    font-weight: 600;
}

.nav-item a {
    color: #1C761E;
    font-family: 'Quattrocento', sans-serif;
    font-weight: 600;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #E39105;
}

.navbar-light .nav-link:focus, .navbar-light .nav-link:hover {
    color: #E39105;
}

/* ---------------------------------------------------Sites Section */

  #sites-heading {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      text-transform: none;
      
  }

  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

  #column1 {
    padding-right: 20px;
  }

  #column2 {
    padding-left: 20px;
  }

  #column3 {
    padding-right: 20px;
  }

  #column4 {
    padding-left: 20px;
  }

  .row {
    margin-right: 15px;
    margin-left: 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .site-img {
    width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
    border-radius: 7px;
}

  .site h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: none;
    position: relative;
    bottom: 15%;
    color: #1C761E;
    padding: 1px 3px 0px 3px;

    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;

    display: table;
    margin: 0px auto 0px auto;
}

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        color: #E39105
    }

    a:hover {
        text-decoration: none;
    }

    
/* ---------------------------------------------------Contact Section */
#contact-heading {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* ---------------------------------------------------Footer Section */

/* Due to limited time much of my Footer section was taken and adjusted from my Milestone 1 Project. */

    footer {
        width: 100%;
        margin: 0px;
        height: auto;
        background-color: rgba(28, 118, 30, .9);
    }

    footer a:hover {
        color: #E39105;
        text-decoration: none;
    }

    .footer-left {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .policy {
        color: #1C761E;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 0 2px 0 3px;
        background-size: 6px 12px;
    }

    .rights {
        font-size: 70%;
        color: #ffffff;
    }

    .footer-center {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-center ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #social {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-links-footer i {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-links-footer li a i {
        width: 30px;
        height: 30px;
        padding: 15px 20px;
        font-size: 120%;
        border-radius: 50%;
        color: #ffffff;
    }

    .social-links-footer li a i:hover {
        color:#E39105;
    }

    .footer-right {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .host {
        display: flex;
        justify-content: center;
    }

    .host p {
        color: #ffffff;
    }

    .host-link {
        display: flex;
        justify-content: center;
    }

    .host a {
        color: #ffffff;
        text-decoration: underline;
    }

    .host a:hover {
        color: #E39105
    }

/* ---------------------------------------------------Media Queries */

@media screen and (max-width: 1200px) {

    #hero-text {
        width: 50%;
        border-radius: 7px;
        top: 30%;
        left: 25%;
        position: absolute;

        display: table;
        margin: 0px auto 0px auto;
    }

    .navbar-light .navbar-brand {
        color: #1C761E;
    }
}

    #hero-text, #hero-text h3 {
        color: #ffffff;
        font-size: 25px;
        font-weight: 400;
        text-transform: none;
    }

@media screen and (max-width: 769px) {

    body {
        font-size: 20px;
        font-weight: 300;
    }
    
    h1, h2, h3 {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: #1C761E;
    }

    #hero-text {
        width: 50%;
        border-radius: 7px;
        top: 30%;
        left: 25%;
        position: absolute;

        display: table;
        margin: 0px auto 0px auto;
    }

    #hero-text, #hero-text h3 {
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        text-transform: none;
    }

    .footer-left {
        margin-top: 10px;
    }

    .footer-center {
        margin-top: 10px;
    }

    .footer-right {
        margin-top: 10px;
    }
}

@media screen and (max-width: 560px) {

    #hero-text {
        width: 60%;
        border-radius: 7px;
        top: 20%;
        left: 20%;
        position: absolute;
    }

    h1, h2, h3 {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
    }

    #hero-text, #hero-text h2 {
        font-size: 25px;
    }

    #hero-text, #hero-text h3 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
    }

    #column1 {
        padding-right: 15px;
      }
    
    #column2 {
        padding-left: 15px;
      }
    
    #column3 {
        padding-right: 15px;
      }
    
    #column4 {
        padding-left: 15px;
      }

    .site h2 {
        bottom: 17%;
        border-radius: 3px;
    }

}

@media screen and (max-width: 420px) {

    #hero-text {
        width: 60%;
        border-radius: 7px;
        top: 20%;
        left: 20%;
        position: absolute;

        display: table;
        margin: 0px auto 0px auto;
    }

    h1, h2, h3 {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
    }

    #hero-text, #hero-text h3 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
    }

    #column1 {
        padding-right: 15px;
      }
    
    #column2 {
        padding-left: 15px;
      }
    
    #column3 {
        padding-right: 15px;
      }
    
    #column4 {
        padding-left: 15px;
      }

    .site h2 {
        bottom: 17%;
        border-radius: 3px;
    }

    .site h2 {
        bottom: 19%;
        border-radius: 3px;
        font-size: 18px;
    }

}