@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Quattrocento:wght@400;700&display=swap');

/* ---------------------------------------------------------General */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------Headings */

h1, h2, h3 {
    font-family: 'Quattrocento', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1C761E;
}

/* ---------------------------------------------------Hero-Image */



#hero-image {
    background: url('../images/hero-image/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    width: auto;
    height: 100vh;
    position: relative;
}
/*
#hero-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    color: #e37005;
    background-color: rgba(241, 109, 107, .7);
    text-align: center;
}
*/
#hero-text, #hero-text h2 {
    color: rgba(227, 145, 5);
}

#hero-text, #hero-text h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}

#hero-text {
    
    font-family: 'Quattrocento', sans-serif;
    letter-spacing: 4px;
    width: 33%;
    height: 30%;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgba(28, 118, 30, .8);
    top: 30%;
    left: 15%;
    position: absolute;

    display: table;
    margin: 0px auto 0px auto;

}

/* ---------------------------------------------------Navbar */

.navbar-light .navbar-brand {
    color: #1C761E;
    font-size: 25px;
    font-family: 'Quattrocento', sans-serif;
    font-weight: 600;
}

.nav-item a {
    color: #1C761E;
    font-family: 'Quattrocento', sans-serif;
    font-weight: 600;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #E39105;
}

.navbar-light .nav-link:focus, .navbar-light .nav-link:hover {
    color: #E39105;
}



@media screen and (max-width: 1200px) {

    #hero-text {
        width: 50%;
        height: 28%;
        padding-top: 20px;
        padding-left: 10px;
        border-radius: 7px;
        top: 30%;
        left: 25%;
        position: absolute;
    }

    .navbar-light .navbar-brand {
        color: #1C761E;
    }
}

@media screen and (max-width: 769px) {

    body {
        font-size: 20px;
        font-weight: 300;
    }
    
    h1, h2, h3 {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: #1C761E;
    }

    #hero-text {
        width: 50%;
        height: 33%;
        padding-top: 20px;
        padding-left: 10px;
        border-radius: 7px;
        top: 30%;
        left: 25%;
        position: absolute;
    }
}

@media screen and (max-width: 560px) {

    #hero-text {
        width: 60%;
        height: 33%;
        padding-top: 20px;
        padding-left: 10px;
        border-radius: 7px;
        top: 20%;
        left: 20%;
        position: absolute;
    }

    h1, h2, h3 {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
    }

    #hero-text, #hero-text h3 {
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        text-transform: none;
    }

}

@media screen and (max-width: 420px) {

    #hero-text {
        width: 60%;
        height: 33%;
        padding-top: 20px;
        padding-left: 10px;
        border-radius: 7px;
        top: 20%;
        left: 20%;
        position: absolute;
    }

    h1, h2, h3 {
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
    }

    #hero-text, #hero-text h3 {
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        text-transform: none;
    }

}